body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(to bottom, #5f2c82, #c6bcd8);
}

.container {
    text-align: center;
    padding: 40px;
}

.title {
    background: #c9b36d;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}

.form {
    margin: 30px;
}

input, select {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    width: 200px;
}

.add-btn {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background: white;
    font-weight: bold;
    cursor: pointer;
}

.task {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.task button {
    margin: 5px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn {
    background: blue;
    color: white;
}

.delete-btn {
    background: red;
    color: white;
}